type emcomd, domain, coredomain;
type emcomd_exec, exec_type, system_file_type, file_type;

init_daemon_domain(emcomd)

allow init emcomd:process transition;

domain_auto_trans(init, emcomd_exec, emcomd)
